@model IEnumerable<WebMvc.Models.BusViewModel>
@{
    ViewData["Title"] = "Bus Shuttle Docker";
}

<div class="text-center">
    <h1 class="display-4">Manager Dashboard</h1>

    <p><a asp-action="BusView">Buses</a></p>
    <p><a asp-action="DriverView">Drivers</a></p>
    <p><a asp-action="EntryView">Entries</a></p>
    <p><a asp-action="LoopView">Loops</a></p>
    <p><a asp-action="RouteView">Routes</a></p>
    <p><a asp-action="StopView">Stops</a></p>
    <p><a asp-action="UserView">Users</a></p>

</div>
